# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Django
*.sqlite3
*.log
media/
staticfiles/

# Environment
.env
.env.local
.env.production

# IDE
.vscode/
.idea/

# Deployment
deploy.tar.gz
certbot/
*.ppk

# SSH keys
private.ppk
public
*.swp
*.swo
.cursor/

# OS
.DS_Store
Thumbs.db

# Docker
postgres_data/
