services:
  db:
    image: postgres:16-alpine
    container_name: apom_db
    environment:
      POSTGRES_DB: apom_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: apom_redis
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

  backend:
    build: ./backend
    container_name: apom_backend
    command: daphne -b 0.0.0.0 -p 8000 config.asgi:application
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    environment:
      - DEBUG=True
      - SECRET_KEY=dev-secret-key-for-docker
      - POSTGRES_DB=apom_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - DB_HOST=db
      - DB_PORT=5432
      - AWS_ACCESS_KEY_ID=9IK65D3WEVBF7OP7GS42
      - AWS_SECRET_ACCESS_KEY=N4r1GOADgA4He7NV2wcRt6bYb02cdsAVxS2IJqhy
      - AWS_STORAGE_BUCKET_NAME=ai-production-asset-managemer
      - AWS_S3_REGION_NAME=ru-1
      - AWS_S3_ENDPOINT_URL=https://s3.timeweb.com
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy

  celery:
    build: ./backend
    container_name: apom_celery
    command: celery -A config worker -l info
    volumes:
      - ./backend:/app
    environment:
      - DEBUG=True
      - SECRET_KEY=dev-secret-key-for-docker
      - POSTGRES_DB=apom_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - DB_HOST=db
      - DB_PORT=5432
      - AWS_ACCESS_KEY_ID=9IK65D3WEVBF7OP7GS42
      - AWS_SECRET_ACCESS_KEY=N4r1GOADgA4He7NV2wcRt6bYb02cdsAVxS2IJqhy
      - AWS_STORAGE_BUCKET_NAME=ai-production-asset-managemer
      - AWS_S3_REGION_NAME=ru-1
      - AWS_S3_ENDPOINT_URL=https://s3.timeweb.com
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    depends_on:
      - backend
      - redis
      - db

  frontend:
    build: ./frontend
    container_name: apom_frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
      - /app/.next
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:8000
    depends_on:
      - backend

volumes:
  postgres_data:
